.menuBlock{
    display: flex;
}

.category {
    width: 130px;
    margin-top: 40px;
    margin-right: 20px;
}

.category a {
    /* display:block; */
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.clothesName {
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
}

.nameCategory {
    display:block;
    color: black;
    padding: 10px;
    font-weight: 500;
}

.nameCategory:hover, .clothesName:hover {
    background-color: rgb(235, 225, 225);
}

/* .category .nameCategory:active, .category .clothesName:active {
    background-color: black;
    color:white;
} */

.menu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.item {
    width: 23%;
    margin-bottom: 50px;
    position: relative;
}

.item img {
    width: 100%;
}

.item img:hover {
    cursor: pointer;
}

/* .item:hover {
    border: 4px solid #e2e2ce;
} */

.item .price {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
}

.item .name {
    margin-left: 5px;
}

.item .addCart {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
}

.item .addCart:hover {
    cursor: pointer;
    font-weight: 600;
}