@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.menu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.item {
    width: 23%;
    margin-bottom: 50px;
    position: relative;
}

.item img {
    width: 100%;
}

.item img:hover {
    cursor: pointer;
}

/* .item:hover {
    border: 4px solid #e2e2ce;
} */

.item .price {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
}

.item .name {
    margin-left: 5px;
}

.item .addCart {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
}

.item .addCart:hover {
    cursor: pointer;
    font-weight: 600;
}